<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>CC online shopping</title>
<link rel="stylesheet" href="public/css/bootstrap.min.css">
<link rel="stylesheet" href="public/css/mall.css">    
<script src="public/js/jquery.min.js"></script>  
<script src="public/js/bootstrap.min.js"></script>  
</head>
<body>
<form>
        <div class="form-group">
          <label for="exampleInputPassword1">订单编号</label>
          <input class="form-control" id="orderNum" >
          <small id="orderNum" class="form-text text-muted">输入订单号查询订单信息</small>
        </div>
        <button type="submit" class="btn btn-primary">查询</button>
</form>
<table class="table" id="oederInfo">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
</table>

</body>
</html>
