#userAccount {
    position: absolute;
    right:10rem;
}

.dropdown-menu{
    min-width: none !important;
}

.subTitle {
    margin-top: 3rem ;
    margin-bottom: 2rem;
}

#productDisplay{
    margin-bottom: 10rem;
}